$primary: #9424D1ff;
$primary-light: #EFD9FAff;
$contrast-dark: #362417ff;
$contrast-light: #92817aff;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #51216Bff;